# ========================
# FRONTEND (React / Vite)
# ========================
node_modules/
dist/
.vite/
.env
.env.local

# ========================
# BACKEND (.NET)
# ========================
bin/
obj/
*.user
*.suo
*.log
database/
*.AuthSystem.postman_collection
*.{Controllers,Models,Services,Data,Middleware}
